# 匯入套件

In [ ]:
import pandas as pd

# 匯入資料
low: 低收入戶資料
<p>
mid: 中低收入戶資料

In [ ]:
low = pd.read_excel('/Users/star/Desktop/碩一_資料探勘/1.1.2低收入戶戶數及人數按鄉鎮市區別分.xls', header=None, skiprows=6, sheet_name=1)
mid = pd.read_excel('/Users/star/Desktop/碩一_資料探勘/1.1.6中低收入戶戶數及人數按鄉鎮市區別分.xls', header=None, skiprows=8, sheet_name=0)

In [ ]:
#取用10701年第一季的資料
low_10701 = low[:-2][[0,2,5]]
low_10701.columns = ['區域', '戶數', '人數']
low_10701.head()

    區域       戶數       人數
0  新北市  17422.0  38528.0
1  板橋區   1308.0   2582.0
2  三重區   2201.0   4736.0
3  中和區   1797.0   3836.0
4  永和區    821.0   1629.0

In [ ]:
#取用10701年第一季的資料
mid_10701 = mid[:-4][[0,2,5]]
mid_10701.columns = ['區域', '戶數', '人數']
mid_10701.head()

    區域      戶數       人數
0  新北市  8898.0  25165.0
1  板橋區   744.0   1994.0
2  三重區  1362.0   3776.0
3  中和區   843.0   2105.0
4  永和區   342.0    869.0

In [ ]:
low_mid = low_10701.merge(mid_10701, suffixes=('_low', '_mid'), on='區域')
low_mid.head()

    區域   戶數_low   人數_low  戶數_mid   人數_mid
0  新北市  17422.0  38528.0  8898.0  25165.0
1  板橋區   1308.0   2582.0   744.0   1994.0
2  三重區   2201.0   4736.0  1362.0   3776.0
3  中和區   1797.0   3836.0   843.0   2105.0
4  永和區    821.0   1629.0   342.0    869.0